<!DOCTYPE html>
<html lang="en">
<head>
    {% load dataset %}
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Styles -->
    <style>
        body {
            background-color: #30303d;
            color: #fff;
        }

        #chartdiv {
            width: 100%;
            height: 800px;
            max-width: 100%;
        }
    </style>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
        am4core.ready(function () {

// Themes begin
            am4core.useTheme(am4themes_animated);
// Themes end


            var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
            var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())

            networkSeries.data = [
                {% for name, value, child in parent %}
                    {% if child|isint %}
                        {name: '{{ name }}', value: {{ value }}},
                    {% else %}
                        {
                            name: '{{ name }}', value: '{{ value }}', children: [
                                {% for name, value, child in child %}
                                    {% if child|isint %}
                                        {name: '{{ name }}', value: {{ value }}},
                                    {% else %}
                                        {
                                            name: '{{ name }}', value: '{{ value }}', children: [
                                                {% if child|isint %}
                                                    {name: '{{ name }}', value: {{ value }}},
                                                {% else %}
                                                    {
                                                        name: '{{ name }}', value: '{{ value }}', children: [
                                                            {% for name, value, child in child %}
                                                                {name: '{{ name }}', value: {{ value }}},
                                                            {% endfor %}
                                                        ]
                                                    },
                                                {% endif %}
                                            ]
                                        },
                                    {% endif %}
                                {% endfor %}
                            ]
                        },
                    {% endif %}
                {% endfor %}
            ];

            networkSeries.dataFields.value = "value";
            networkSeries.dataFields.name = "name";
            networkSeries.dataFields.children = "children";
            networkSeries.nodes.template.tooltipText = "{name}:{value}";
            networkSeries.nodes.template.fillOpacity = 1;

            networkSeries.nodes.template.label.text = "{name}"
            networkSeries.fontSize = 10;

            networkSeries.links.template.strokeWidth = 1;

            var hoverState = networkSeries.links.template.states.create("hover");
            hoverState.properties.strokeWidth = 3;
            hoverState.properties.strokeOpacity = 1;

            networkSeries.nodes.template.events.on("over", function (event) {
                event.target.dataItem.childLinks.each(function (link) {
                    link.isHover = true;
                })
                if (event.target.dataItem.parentLink) {
                    event.target.dataItem.parentLink.isHover = true;
                }

            })

            networkSeries.nodes.template.events.on("out", function (event) {
                event.target.dataItem.childLinks.each(function (link) {
                    link.isHover = false;
                })
                if (event.target.dataItem.parentLink) {
                    event.target.dataItem.parentLink.isHover = false;
                }
            })

        }); // end am4core.ready()
    </script>

</head>
<body>

<!-- HTML -->
<div id="chartdiv"></div>
</body>
</html>